<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "headline": "{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}",
  "image": {{- with .Params.header.image }}"{{ printf "/img/%s" . | absURL }}"{{ end }},
  {{ if .IsPage }}
  {{ if not .PublishDate.IsZero }}"datePublished": "{{ .PublishDate.Format $.Site.Params.date_format | safeHTML }}",
  {{ else if not .Date.IsZero }}"datePublished": "{{ .Date.Format $.Site.Params.date_format | safeHTML }}",{{ end }}
  {{ if not .Lastmod.IsZero }}"dateModified": "{{ .Lastmod.Format $.Site.Params.date_format | safeHTML }}",{{ end }}
  {{ else }}
  {{ if not .Date.IsZero }}"dateModified": "{{ .Date.Format $.Site.Params.date_format | safeHTML }}",{{ end }}
  {{ end }}
  "author": {
    "@type": "Person",
    "name": " {{ .Site.Params.name }}"
  },
  "publisher": {
   "@type": "Organization",
   "name": "{{ .Site.Title }}",
   "logo": {
      "@type": "ImageObject",
      "url": "https://neurathsboat.blog/img/logo.png",
      "height": 60,
      "width": 600
      }
  },
 {{ $scr := .Scratch }}"description": "{{ $scr.Get "description" }}",
 "isAccessibleForFree": true,
 "isBasedOn": "https://gitlab.com/vkehayas/neurathsboat.blog",
 "keywords": [ {{ range .Params.tags}}"{{ printf "%s" . }}",{{ end }} " " ]{{ if ne $.Site.Params.reading_time false }}, 
 "timeRequired": "PT{{ $.ReadingTime }}M"{{ end }}
}
</script>
